html {
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  background-color: #1e1b1b;
}

#controls {
  display: flex;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 20vw;
  height: 25px;
  background: #474646;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  display: flex;
}

.slider:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 2.5rem;
  font-size: 1.5em;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ffa011;
  cursor: pointer;
}

#frameRateVal::-webkit-slider-thumb {
  background: #ffffff;
}

label {
  width: 100%;
}

#dialog {
  background-color: #474646;
  height: 35vh;
  width: 35vw;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-17.5vw, -17.5vh);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#dialog:hover {
  cursor: pointer;
}

.title {
  margin: 0px;
}

p {
  margin: 10px;
  font-size: 1.2em;
}

hr {
  width: 100%;
}







